h1{ 
    font-size: 60px;
}

p{ 
    color: rgb(63, 165, 42); 
    font-family: Colonna MT;
    text-decoration:underline;
    text-transform: uppercase;
    }

table{
    border: 3px solid black;
    width: 300px; height: 10px; 
}

th, td {
    padding: 20px;
}
